@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

.App {
  background-image: url('/public/background.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.ant-select-selector {
  background: none !important;
  border: none !important;
}
.ant-select-selection-item {
  color: white !important;
}

.ant-select-arrow {
  color: white !important;
}

.ant-form-item-explain-error {
  color: #a60304 !important;
}
